{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div class="card critical-clear" data-animate>
  <a href="{{ article.url }}" class="card__wrapper card--article">
    {% if article.image %}
      {% assign article_image = article.image %}
    {% else %}
      {% assign article_image = article.products.first %}
    {% endif %}

    {% if article_image != blank and section.settings.blog_show_image %}
      {% if blog.articles.size == 1 or section.settings.post_limit == 1 %}
        <div class="medium-up--one-half card-list__column--half-left">
      {% endif %}

      {% include 'card-image', type: article_image %}

      {% if blog.articles.size == 1 or section.settings.post_limit == 1 %}
        </div>
      {% endif %}
    {% endif %}

    {% if section.settings.blog_show_image %}
      {% if blog.articles.size == 1 or section.settings.post_limit == 1 %}
        <div class="medium-up--one-half card-list__column--half-right">
      {% endif %}
    {% endif %}

    <div class="card__info">
      {% if section.settings.blog_show_date %}
        <span class="article__date text-small--uppercase">
          {{ article.published_at | time_tag: format: 'month_day_year' }}
        </span>
      {% endif %}
      {% if section.settings.blog_show_author %}
        <span class="article__author text-small--uppercase">
          {{ article.author }}
        </span>
      {% endif %}
      <h2 class="card__name h4">{% comment %}ly_code_replace_for_[ article.title ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h2>
      {% if section.settings.blog_show_excerpt %}
        <div class="card__excerpt rte">
          {% if article.excerpt.size > 0 %}
            {% comment %}ly_code_replace_for_[ article.excerpt ]_begin{% endcomment %}{% include 'ly-excerpt' with article %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
          {% else %}
            {% comment %}ly_code_replace_for_[ article.content | strip_html | truncatewords: 30 ]_begin{% endcomment %}{% include 'ly-content' with article %}{{ ly_translation | strip_html | truncatewords: 30 }}{% comment %}ly_code_replace_end{% endcomment %}
          {% endif %}
        </div>
      {% endif %}
      <span class="card__read-more">
        {% comment %}ly_i18n_replace_for_[ 'blogs.article.read_more' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.article.read_more' | t }}{% endcapture %}{% include 'ly-static-string' with '11859787' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
        {% include 'icon-arrow-right' %}
      </span>
    </div>

    {% if section.settings.blog_show_image %}
      {% if blog.articles.size == 1 or section.settings.post_limit == 1 %}
        </div>
      {% endif %}
    {% endif %}
  </a>
</div>
